<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniba.capitool">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".activities.EliminaZone"
            android:exported="true" />
        <activity
            android:name=".activities.VisualizzaOpera"
            android:exported="true" />
        <activity
            android:name=".activities.DelegaSito"
            android:exported="true" />
        <activity
            android:name=".activities.VisualizzaZoneSito"
            android:exported="true" />
        <activity
            android:name=".activities.ModificaSito"
            android:exported="true" />
        <activity
            android:name=".activities.InfoSitoAssociato"
            android:exported="true" />
        <activity
            android:name=".activities.EliminaSito"
            android:exported="true" />
        <activity
            android:name=".activities.AggiungiPercorso"
            android:exported="false" />
        <activity
            android:name=".activities.AggiungiSito"
            android:exported="true" />
        <activity
            android:name=".activities.HomePage"
            android:exported="false" />
        <activity
            android:name=".activities.Registrati"
            android:exported="true"
            android:parentActivityName=".activities.Login" /> <!-- in Registrati cliccando back, nella tool bar, tornerà in Login -->
        <activity
            android:name=".activities.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>